# Chapter 2. Ingesting Data into the Cloud

In [128]:
%%bash
# シェルスクリプトで航空機離着陸データをスクレイピングするために、zip形式でデータをダウンロード
YEAR=2017

for MONTH in `seq -w 1 3` ; do
PARAMS="UserTableName=On_Time_Performance&DBShortName=&RawDataTable=T_ONTIME&sqlstr=+SELECT+FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CCARRIER%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE+FROM++T_ONTIME+WHERE+Month+%3D${MONTH}+AND+YEAR%3D${YEAR}&varlist=FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CCARRIER%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE&grouplist=&suml=&sumRegion=&filter1=title%3D&filter2=title%3D&geo=All%A0&time=March&timename=Month&GEOGRAPHY=All&XYEAR=${YEAR}&FREQUENCY=3&VarDesc=Year&VarType=Num&VarDesc=Quarter&VarType=Num&VarDesc=Month&VarType=Num&VarDesc=DayofMonth&VarType=Num&VarDesc=DayOfWeek&VarType=Num&VarName=FL_DATE&VarDesc=FlightDate&VarType=Char&VarName=UNIQUE_CARRIER&VarDesc=UniqueCarrier&VarType=Char&VarName=AIRLINE_ID&VarDesc=AirlineID&VarType=Num&VarName=CARRIER&VarDesc=Carrier&VarType=Char&VarDesc=TailNum&VarType=Char&VarName=FL_NUM&VarDesc=FlightNum&VarType=Char&VarName=ORIGIN_AIRPORT_ID&VarDesc=OriginAirportID&VarType=Num&VarName=ORIGIN_AIRPORT_SEQ_ID&VarDesc=OriginAirportSeqID&VarType=Num&VarName=ORIGIN_CITY_MARKET_ID&VarDesc=OriginCityMarketID&VarType=Num&VarName=ORIGIN&VarDesc=Origin&VarType=Char&VarDesc=OriginCityName&VarType=Char&VarDesc=OriginState&VarType=Char&VarDesc=OriginStateFips&VarType=Char&VarDesc=OriginStateName&VarType=Char&VarDesc=OriginWac&VarType=Num&VarName=DEST_AIRPORT_ID&VarDesc=DestAirportID&VarType=Num&VarName=DEST_AIRPORT_SEQ_ID&VarDesc=DestAirportSeqID&VarType=Num&VarName=DEST_CITY_MARKET_ID&VarDesc=DestCityMarketID&VarType=Num&VarName=DEST&VarDesc=Dest&VarType=Char&VarDesc=DestCityName&VarType=Char&VarDesc=DestState&VarType=Char&VarDesc=DestStateFips&VarType=Char&VarDesc=DestStateName&VarType=Char&VarDesc=DestWac&VarType=Num&VarName=CRS_DEP_TIME&VarDesc=CRSDepTime&VarType=Char&VarName=DEP_TIME&VarDesc=DepTime&VarType=Char&VarName=DEP_DELAY&VarDesc=DepDelay&VarType=Num&VarDesc=DepDelayMinutes&VarType=Num&VarDesc=DepDel15&VarType=Num&VarDesc=DepartureDelayGroups&VarType=Num&VarDesc=DepTimeBlk&VarType=Char&VarName=TAXI_OUT&VarDesc=TaxiOut&VarType=Num&VarName=WHEELS_OFF&VarDesc=WheelsOff&VarType=Char&VarName=WHEELS_ON&VarDesc=WheelsOn&VarType=Char&VarName=TAXI_IN&VarDesc=TaxiIn&VarType=Num&VarName=CRS_ARR_TIME&VarDesc=CRSArrTime&VarType=Char&VarName=ARR_TIME&VarDesc=ArrTime&VarType=Char&VarName=ARR_DELAY&VarDesc=ArrDelay&VarType=Num&VarDesc=ArrDelayMinutes&VarType=Num&VarDesc=ArrDel15&VarType=Num&VarDesc=ArrivalDelayGroups&VarType=Num&VarDesc=ArrTimeBlk&VarType=Char&VarName=CANCELLED&VarDesc=Cancelled&VarType=Num&VarName=CANCELLATION_CODE&VarDesc=CancellationCode&VarType=Char&VarName=DIVERTED&VarDesc=Diverted&VarType=Num&VarDesc=CRSElapsedTime&VarType=Num&VarDesc=ActualElapsedTime&VarType=Num&VarDesc=AirTime&VarType=Num&VarDesc=Flights&VarType=Num&VarName=DISTANCE&VarDesc=Distance&VarType=Num&VarDesc=DistanceGroup&VarType=Num&VarDesc=CarrierDelay&VarType=Num&VarDesc=WeatherDelay&VarType=Num&VarDesc=NASDelay&VarType=Num&VarDesc=SecurityDelay&VarType=Num&VarDesc=LateAircraftDelay&VarType=Num&VarDesc=FirstDepTime&VarType=Char&VarDesc=TotalAddGTime&VarType=Num&VarDesc=LongestAddGTime&VarType=Num&VarDesc=DivAirportLandings&VarType=Num&VarDesc=DivReachedDest&VarType=Num&VarDesc=DivActualElapsedTime&VarType=Num&VarDesc=DivArrDelay&VarType=Num&VarDesc=DivDistance&VarType=Num&VarDesc=Div1Airport&VarType=Char&VarDesc=Div1AirportID&VarType=Num&VarDesc=Div1AirportSeqID&VarType=Num&VarDesc=Div1WheelsOn&VarType=Char&VarDesc=Div1TotalGTime&VarType=Num&VarDesc=Div1LongestGTime&VarType=Num&VarDesc=Div1WheelsOff&VarType=Char&VarDesc=Div1TailNum&VarType=Char&VarDesc=Div2Airport&VarType=Char&VarDesc=Div2AirportID&VarType=Num&VarDesc=Div2AirportSeqID&VarType=Num&VarDesc=Div2WheelsOn&VarType=Char&VarDesc=Div2TotalGTime&VarType=Num&VarDesc=Div2LongestGTime&VarType=Num&VarDesc=Div2WheelsOff&VarType=Char&VarDesc=Div2TailNum&VarType=Char&VarDesc=Div3Airport&VarType=Char&VarDesc=Div3AirportID&VarType=Num&VarDesc=Div3AirportSeqID&VarType=Num&VarDesc=Div3WheelsOn&VarType=Char&VarDesc=Div3TotalGTime&VarType=Num&VarDesc=Div3LongestGTime&VarType=Num&VarDesc=Div3WheelsOff&VarType=Char&VarDesc=Div3TailNum&VarType=Char&VarDesc=Div4Airport&VarType=Char&VarDesc=Div4AirportID&VarType=Num&VarDesc=Div4AirportSeqID&VarType=Num&VarDesc=Div4WheelsOn&VarType=Char&VarDesc=Div4TotalGTime&VarType=Num&VarDesc=Div4LongestGTime&VarType=Num&VarDesc=Div4WheelsOff&VarType=Char&VarDesc=Div4TailNum&VarType=Char&VarDesc=Div5Airport&VarType=Char&VarDesc=Div5AirportID&VarType=Num&VarDesc=Div5AirportSeqID&VarType=Num&VarDesc=Div5WheelsOn&VarType=Char&VarDesc=Div5TotalGTime&VarType=Num&VarDesc=Div5LongestGTime&VarType=Num&VarDesc=Div5WheelsOff&VarType=Char&VarDesc=Div5TailNum&VarType=Char"
echo Month is $MONTH

RESPONSE=$(curl -X POST --data "$PARAMS" https://www.transtats.bts.gov/DownLoad_Table.asp?Table_ID=236&Has_Group=3&Is_Zipped=0) 

echo "Received $RESPONSE"

# zipファイルのAPIだけtrとgrepで取得
ZIPFILE=$(echo $RESPONSE | tr '\"'  '\n' | grep zip )

echo $ZIPFILE

# -oオプションでデータを保存
curl -o $YEAR$MONTH.zip $ZIPFILE
done

Month is 1
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/565996740_T_ONTIME.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/565996740_T_ONTIME.zip
Month is 2
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/565997025_T_ONTIME.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/565997025_T_ONTIME.zip
Month is 3
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/565997307_T_ONTIME.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/565997307_T_ONTIME.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5404  100   191  100  5213     11    301  0:00:17  0:00:17 --:--:--     0
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13.3M  100 13.3M    0     0   163k      0  0:01:23  0:01:23 --:--:--  188k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5404  100   191  100  5213     15    414  0:00:12  0:00:12 --:--:--     0
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12.0M  100 12.0M    0     0   165k      0  0:01:14  0:01:14 --:--:--  199k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5404  100   191  100  5213     10    295  0:00:19  0:00:17  0:00:02     0
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 14.3M  100 14.3M    0     0   164k      0  0:01:29  0:01:29 --:--:--  205k

In [1]:
! ls  . | grep zip

20171.zip
20172.zip
20173.zip

In [129]:
%%bash
# データの解凍
YEAR=2017
for MONTH in `seq -w 1 3` ; do
    unzip $YEAR$MONTH.zip
    mv *ONTIME.csv $MONTH.csv
    rm $YEAR$MONTH.zip
    
done

Archive:  20171.zip
  inflating: 565996740_T_ONTIME.csv
Archive:  20172.zip
  inflating: 565997025_T_ONTIME.csv
Archive:  20173.zip
  inflating: 565997307_T_ONTIME.csv

In [3]:
!ls . | grep csv

1.csv
3.csv

In [6]:
import pandas as pd

# 可視化
pd.read_csv('./1.csv').head

<bound method NDFrame.head of            FL_DATE UNIQUE_CARRIER  AIRLINE_ID CARRIER  FL_NUM  \
0       2017-01-01             AA       19805      AA    1655
1       2017-01-01             AA       19805      AA    1659
2       2017-01-01             AA       19805      AA    1660
3       2017-01-01             AA       19805      AA    1663
4       2017-01-01             AA       19805      AA    1663
5       2017-01-01             AA       19805      AA    1667
6       2017-01-01             AA       19805      AA    1672
7       2017-01-01             AA       19805      AA    1672
8       2017-01-01             AA       19805      AA    1673
9       2017-01-01             AA       19805      AA    1673
10      2017-01-01             AA       19805      AA    1674
11      2017-01-01             AA       19805      AA    1675
12      2017-01-01             AA       19805      AA    1676
13      2017-01-01             AA       19805      AA    1676
14      2017-01-01             AA       19805      AA    1677
15      2017-01-01             AA       19805      AA    1677
16      2017-01-01             AA       19805      AA    1678
17      2017-01-01             AA       19805      AA    1678
18      2017-01-01             AA       19805      AA    1679
19      2017-01-01             AA       19805      AA    1680
20      2017-01-01             AA       19805      AA    1684
21      2017-01-01             AA       19805      AA    1684
22      2017-01-01             AA       19805      AA    1688
23      2017-01-01             AA       19805      AA    1688
24      2017-01-01             AA       19805      AA    1689
25      2017-01-01             AA       19805      AA    1689
26      2017-01-01             AA       19805      AA    1690
27      2017-01-01             AA       19805      AA    1690
28      2017-01-01             AA       19805      AA    1690
29      2017-01-01             AA       19805      AA    1691
...            ...            ...         ...     ...     ...
449987  2017-01-31             AA       19805      AA    1742
449988  2017-01-31             AA       19805      AA    1743
449989  2017-01-31             AA       19805      AA    1743
449990  2017-01-31             AA       19805      AA    1744
449991  2017-01-31             AA       19805      AA    1744
449992  2017-01-31             AA       19805      AA    1745
449993  2017-01-31             AA       19805      AA    1745
449994  2017-01-31             AA       19805      AA    1746
449995  2017-01-31             AA       19805      AA    1747
449996  2017-01-31             AA       19805      AA    1747
449997  2017-01-31             AA       19805      AA    1748
449998  2017-01-31             AA       19805      AA    1750
449999  2017-01-31             AA       19805      AA    1750
450000  2017-01-31             AA       19805      AA    1751
450001  2017-01-31             AA       19805      AA    1752
450002  2017-01-31             AA       19805      AA    1752
450003  2017-01-31             AA       19805      AA    1754
450004  2017-01-31             AA       19805      AA    1755
450005  2017-01-31             AA       19805      AA    1756
450006  2017-01-31             AA       19805      AA    1756
450007  2017-01-31             AA       19805      AA    1757
450008  2017-01-31             AA       19805      AA    1760
450009  2017-01-31             AA       19805      AA    1760
450010  2017-01-31             AA       19805      AA    1761
450011  2017-01-31             AA       19805      AA    1762
450012  2017-01-31             AA       19805      AA    1762
450013  2017-01-31             AA       19805      AA    1763
450014  2017-01-31             AA       19805      AA    1763
450015  2017-01-31             AA       19805      AA    1764
450016  2017-01-31             AA       19805      AA    1766

        ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN_CITY_MARKET_ID  \
0                   14683                1468303                  33214
1                   14107                1410702                  30466
2                   12892                1289204                  32575
3                   11057                1105703                  31057
4                   14122                1412202                  30198
5                   14027                1402702                  34027
6                   10397                1039705                  30397
7                   11057                1105703                  31057
8                   10821                1082104                  30852
9                   11057                1105703                  31057
10                  12889                1288903                  32211
11                  14100                1410002                  34100
12                  11697                1169704                  32467
13                  14100                1410002                  34100
14                  11057                1105703                  31057
15                  13487                1348702                  31650
16                  10397                1039705                  30397
17                  12953                1295302                  31703
18                  11433                1143302                  31295
19                  14100                1410002                  34100
20                  11298                1129804                  30194
21                  14100                1410002                  34100
22                  11298                1129804                  30194
23                  14771                1477102                  32457
24                  14100                1410002                  34100
25                  14492                1449202                  34492
26                  10397                1039705                  30397
27                  11057                1105703                  31057
28                  13303                1330303                  32467
29                  11298                1129804                  30194
...                   ...                    ...                    ...
449987              12339                1233904                  32337
449988              11298                1129804                  30194
449989              12889                1288903                  32211
449990              13495                1349503                  33495
449991              14100                1410002                  34100
449992              11057                1105703                  31057
449993              13495                1349503                  33495
449994              14100                1410002                  34100
449995              10529                1052904                  30529
449996              11057                1105703                  31057
449997              14100                1410002                  34100
449998              10693                1069302                  30693
449999              11057                1105703                  31057
450000              14100                1410002                  34100
450001              10397                1039705                  30397
450002              11057                1105703                  31057
450003              14107                1410702                  30466
450004              14100                1410002                  34100
450005              11057                1105703                  31057
450006              13487                1348702                  31650
450007              11057                1105703                  31057
450008              11057                1105703                  31057
450009              11292                1129202                  30325
450010              11278                1127803                  30852
450011              10994                1099402                  30994
450012              11057                1105703                  31057
450013              11298                1129804                  30194
450014              14679                1467903                  33570
450015              11697                1169704                  32467
450016              11278                1127803                  30852

       ORIGIN  DEST_AIRPORT_ID     ...       WHEELS_ON  TAXI_IN CRS_ARR_TIME  \
0         SAT            11057     ...          1140.0      9.0         1211
1         PHX            10423     ...          1345.0      6.0         1258
2         LAX            14100     ...          1901.0      5.0         1929
3         CLT            14100     ...          1309.0      7.0         1253
4         PIT            11057     ...          1018.0      4.0         1019
5         PBI            14100     ...          1629.0      4.0         1644
6         ATL            11057     ...          1043.0     11.0         1012
7         CLT            14027     ...          1254.0      5.0         1315
8         BWI            11057     ...          1637.0      7.0         1707
9         CLT            12266     ...          1945.0      9.0         1958
10        LAS            13303     ...           513.0     15.0          533
11        PHL            10721     ...          2339.0      7.0         2356
12        FLL            14100     ...          1930.0      5.0         1955
13        PHL            14747     ...          2336.0     10.0         2355
14        CLT            14122     ...          1101.0      4.0         1126
15        MSP            11057     ...           800.0      4.0          854
16        ATL            12953     ...          1847.0      4.0         1912
17        LGA            10397     ...          1608.0      7.0         1620
18        DTW            13303     ...           811.0      6.0          841
19        PHL            14027     ...          2117.0      4.0         2146
20        DFW            13204     ...          1428.0     10.0         1440
21        PHL            11298     ...           937.0      8.0          955
22        DFW            13204     ...          2205.0      6.0         2157
23        SFO            11298     ...          1714.0     11.0         1717
24        PHL            14492     ...          1246.0      3.0         1256
25        RDU            14100     ...          1448.0      3.0         1500
26        ATL            11057     ...          1340.0     10.0         1338
27        CLT            15016     ...          1526.0      2.0         1537
28        MIA            10397     ...          1134.0     13.0         1137
29        DFW            10397     ...          2314.0     12.0         2331
...       ...              ...     ...             ...      ...          ...
449987    IND            11057     ...          1640.0     10.0         1708
449988    DFW            11057     ...          2346.0      7.0         2359
449989    LAS            11298     ...          1857.0      9.0         1924
449990    MSY            14100     ...          1654.0      4.0         1708
449991    PHL            13495     ...          1220.0      6.0         1246
449992    CLT            14122     ...          1801.0      5.0         1806
449993    MSY            11057     ...          1534.0      9.0         1549
449994    PHL            13204     ...          1218.0      9.0         1246
449995    BDL            11057     ...          1909.0      6.0         1914
449996    CLT            14122     ...          2134.0      5.0         2139
449997    PHL            13204     ...          1541.0      8.0         1617
449998    BNA            11057     ...          1643.0     13.0         1649
449999    CLT            11278     ...          1850.0      7.0         1910
450000    PHL            14635     ...          1418.0      5.0         1401
450001    ATL            11057     ...           956.0     19.0         1009
450002    CLT            15016     ...          1155.0      3.0         1214
450003    PHX            10423     ...          1250.0      6.0         1258
450004    PHL            14492     ...          1926.0      7.0         1941
450005    CLT            10529     ...          1154.0      4.0         1203
450006    MSP            11057     ...           836.0      5.0          852
450007    CLT            11618     ...          1740.0      8.0         1628
450008    CLT            11697     ...          1602.0      2.0         1615
450009    DEN            11057     ...          1241.0      6.0         1323
450010    DCA            15304     ...          2008.0      4.0         2033
450011    CHS            11057     ...           836.0      5.0          855
450012    CLT            14492     ...          1023.0      3.0         1039
450013    DFW            14679     ...           745.0      3.0          808
450014    SAN            11298     ...          1339.0     10.0         1356
450015    FLL            11278     ...          1030.0      4.0         1044
450016    DCA            11298     ...           846.0     12.0          922

        ARR_TIME  ARR_DELAY  CANCELLED  CANCELLATION_CODE  DIVERTED  DISTANCE  \
0         1149.0      -22.0        0.0                NaN       0.0    1095.0
1         1351.0       53.0        0.0                NaN       0.0     872.0
2         1906.0      -23.0        0.0                NaN       0.0    2402.0
3         1316.0       23.0        0.0                NaN       0.0     449.0
4         1022.0        3.0        0.0                NaN       0.0     366.0
5         1633.0      -11.0        0.0                NaN       0.0     951.0
6         1054.0       42.0        0.0                NaN       0.0     226.0
7         1259.0      -16.0        0.0                NaN       0.0     590.0
8         1644.0      -23.0        0.0                NaN       0.0     361.0
9         1954.0       -4.0        0.0                NaN       0.0     912.0
10         528.0       -5.0        0.0                NaN       0.0    2174.0
11        2346.0      -10.0        0.0                NaN       0.0     280.0
12        1935.0      -20.0        0.0                NaN       0.0     992.0
13        2346.0       -9.0        0.0                NaN       0.0    2378.0
14        1105.0      -21.0        0.0                NaN       0.0     366.0
15         804.0      -50.0        0.0                NaN       0.0     930.0
16        1851.0      -21.0        0.0                NaN       0.0     762.0
17        1615.0       -5.0        0.0                NaN       0.0     762.0
18         817.0      -24.0        0.0                NaN       0.0    1145.0
19        2121.0      -25.0        0.0                NaN       0.0     951.0
20        1438.0       -2.0        0.0                NaN       0.0     985.0
21         945.0      -10.0        0.0                NaN       0.0    1303.0
22        2211.0       14.0        0.0                NaN       0.0     985.0
23        1725.0        8.0        0.0                NaN       0.0    1464.0
24        1249.0       -7.0        0.0                NaN       0.0     337.0
25        1451.0       -9.0        0.0                NaN       0.0     337.0
26        1350.0       12.0        0.0                NaN       0.0     226.0
27        1528.0       -9.0        0.0                NaN       0.0     575.0
28        1147.0       10.0        0.0                NaN       0.0     594.0
29        2326.0       -5.0        0.0                NaN       0.0     731.0
...          ...        ...        ...                ...       ...       ...
449987    1650.0      -18.0        0.0                NaN       0.0     427.0
449988    2353.0       -6.0        0.0                NaN       0.0     936.0
449989    1906.0      -18.0        0.0                NaN       0.0    1055.0
449990    1658.0      -10.0        0.0                NaN       0.0    1089.0
449991    1226.0      -20.0        0.0                NaN       0.0    1089.0
449992    1806.0        0.0        0.0                NaN       0.0     366.0
449993    1543.0       -6.0        0.0                NaN       0.0     651.0
449994    1227.0      -19.0        0.0                NaN       0.0     861.0
449995    1915.0        1.0        0.0                NaN       0.0     644.0
449996    2139.0        0.0        0.0                NaN       0.0     366.0
449997    1549.0      -28.0        0.0                NaN       0.0     861.0
449998    1656.0        7.0        0.0                NaN       0.0     328.0
449999    1857.0      -13.0        0.0                NaN       0.0     331.0
450000    1423.0       22.0        0.0                NaN       0.0     993.0
450001    1015.0        6.0        0.0                NaN       0.0     226.0
450002    1158.0      -16.0        0.0                NaN       0.0     575.0
450003    1256.0       -2.0        0.0                NaN       0.0     872.0
450004    1933.0       -8.0        0.0                NaN       0.0     337.0
450005    1158.0       -5.0        0.0                NaN       0.0     644.0
450006     841.0      -11.0        0.0                NaN       0.0     930.0
450007    1748.0       80.0        0.0                NaN       0.0     529.0
450008    1604.0      -11.0        0.0                NaN       0.0     632.0
450009    1247.0      -36.0        0.0                NaN       0.0    1337.0
450010    2012.0      -21.0        0.0                NaN       0.0     814.0
450011     841.0      -14.0        0.0                NaN       0.0     168.0
450012    1026.0      -13.0        0.0                NaN       0.0     130.0
450013     748.0      -20.0        0.0                NaN       0.0    1171.0
450014    1349.0       -7.0        0.0                NaN       0.0    1171.0
450015    1034.0      -10.0        0.0                NaN       0.0     899.0
450016     858.0      -24.0        0.0                NaN       0.0    1192.0

        Unnamed: 27
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18              NaN
19              NaN
20              NaN
21              NaN
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
...             ...
449987          NaN
449988          NaN
449989          NaN
449990          NaN
449991          NaN
449992          NaN
449993          NaN
449994          NaN
449995          NaN
449996          NaN
449997          NaN
449998          NaN
449999          NaN
450000          NaN
450001          NaN
450002          NaN
450003          NaN
450004          NaN
450005          NaN
450006          NaN
450007          NaN
450008          NaN
450009          NaN
450010          NaN
450011          NaN
450012          NaN
450013          NaN
450014          NaN
450015          NaN
450016          NaN

[450017 rows x 28 columns]>

In [1]:
# サイズ感の確認
! wc -l *.csv

  450018 1.csv
  410518 2.csv
  488598 3.csv
 1349134 total

In [25]:
%%bash
# データをGCPにupload
gsutil='/Users/hasehiro/google-cloud-sdk/bin/gsutil'
$gsutil -m cp *.csv gs://csv-data-bucket/flights/

In [32]:
%%bash 
# 全体に共有できるように、誰でも読めるように権限を変更

gsutil='/Users/hasehiro/google-cloud-sdk/bin/gsutil'
# $gsutil acl -R -g google.com:R gs://csv-data-bucket/flights/

# Chapter 3. Creating Compelling Dashboards

## google-cloudライブラリを使用する

In [110]:
%env  GOOGLE_APPLICATION_CREDENTIALS=/Users/hasehiro/data-science-on-the-gcp-da1e9f12fed5.json

env: GOOGLE_APPLICATION_CREDENTIALS=/Users/hasehiro/data-science-on-the-gcp-da1e9f12fed5.json

In [57]:
import os
import google.cloud.storage as storae
# バケットの操作
storage_client=storage.Client()
bucket=storage_client.get_bucket('csv-data-bucket')
bucket.location

'ASIA'

## cloud sqlの起動

In [111]:
%%bash
# sqlインスタンスの生成
# gcloud sql instances create flights --tier=db-n1-standard-1 --activation-policy=ALWAYS --project=data-science-on-the-gcp

bash: line 2: gcloud: command not found

In [98]:
# pythonライブラリで上記と同じAPIをGCPに送る 
# credential情報

from oauth2client.client import GoogleCredentials

credentials = GoogleCredentials.get_application_default()

In [122]:
# sqlインスタンスのAPIと対話するためのオブジェクトを生成
# 詳細　https://cloud.google.com/compute/docs/tutorials/python-guide?hl=ja
from googleapiclient import discovery

# %pdoc  discovery.build
sql=discovery.build('sqladmin', 'v1beta4', credentials=credentials)

In [127]:
# インスタンスの確認
project='data-science-on-the-gcp'
# sql.instances().list(project=project).execute()

In [48]:
%%bash
# 外部から接続するためにIPを登録
# IPはCIDRに変換 https://www.softel.co.jp/labs/tools/network/
gcloud sql instances patch flights \
    --authorized-networks [IP] ---project=data-science-on-the-gcp

bash: line 2: wget: command not found
bash: line 2: gcloud: command not found

In [124]:
%%writefile  create_table.sql 

create database if not exists bts;
use bts;
drop table if exists flights;
create table flights (
  FL_DATE date,
  UNIQUE_CARRIER varchar(16),
  AIRLINE_ID varchar(16),
  CARRIER varchar(16),
  FL_NUM integer,
  ORIGIN_AIRPORT_ID varchar(16),
  ORIGIN_SEQ_ID varchar(16),
  ORIGIN_CITY_MARKET_ID varchar(16),
  ORIGIN varchar(16),
  DEST_AIRPORT_ID varchar(16),
  DEST_AIRPORT_SEQ_ID varchar(16),
  DEST_CITY_MARKET_ID varchar(16),
  DEST varchar(16),
  CRS_DEP_TIME integer,
  DEP_TIME integer,
  DEP_DELAY float,
  TAXI_OUT float,
  WHEELS_OFF integer,
  WHEELS_ON integer,
  TAXI_IN float,
  CRS_ARR_TIME integer,
  ARR_TIME integer,
  ARR_DELAY float,
  CANCELLED float,
  CANCELLATION_CODE varchar(16),
  DIVERTED float,
  DISTANCE float,
  INDEX (FL_DATE), INDEX (ORIGIN_AIRPORT_ID),
  INDEX(ARR_DELAY), INDEX(DEP_TIME), INDEX(DEP_DELAY)
);

Writing create_table.sql

In [134]:
%%bash
# 現在動いているインスタンスのエンドポイントを見つけ、dumpを流し込む
MYSQLIP=$(~/google-cloud-sdk/bin/gcloud sql instances describe \
      flights --format="value(ipAddresses.ipAddress)" --project=data-science-on-the-gcp)
mysql --host=$MYSQLIP --user=root < create_table.sql

bash: line 3: fg: no job control
ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)

In [53]:
%%bash
# MYSQLIP=$(~/google-cloud-sdk/bin/gcloud sql instances describe \
#       flights --format="value(ipAddresses.ipAddress)" --project=data-science-on-the-gcp)
# echo $MYSQLIP

In [11]:
flight1_pd=pd.read_csv('./1.csv')

In [17]:
flight1_pd.head()

,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,...,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE,Unnamed: 27
0,2017-01-01,AA,19805,AA,1655,14683,1468303,33214,SAT,11057,...,1140.0,9.0,1211,1149.0,-22.0,0.0,NaN,0.0,1095.0,NaN
1,2017-01-01,AA,19805,AA,1659,14107,1410702,30466,PHX,10423,...,1345.0,6.0,1258,1351.0,53.0,0.0,NaN,0.0,872.0,NaN
2,2017-01-01,AA,19805,AA,1660,12892,1289204,32575,LAX,14100,...,1901.0,5.0,1929,1906.0,-23.0,0.0,NaN,0.0,2402.0,NaN
3,2017-01-01,AA,19805,AA,1663,11057,1105703,31057,CLT,14100,...,1309.0,7.0,1253,1316.0,23.0,0.0,NaN,0.0,449.0,NaN
4,2017-01-01,AA,19805,AA,1663,14122,1412202,30198,PIT,11057,...,1018.0,4.0,1019,1022.0,3.0,0.0,NaN,0.0,366.0,NaN

In [50]:
# csvデータをsqlに食わせる
# PyMySQLを同時にいれること
import sqlalchemy as sa

url = 'mysql+pymysql://root:@35.184.255.xxx/bts?charset=utf8'
engine=sa.create_engine(url,echo=True)
# connection = engine.raw_connection()

In [51]:
connection = engine.raw_connection()

2018-04-22 18:13:16,931 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-04-22 18:13:16,936 INFO sqlalchemy.engine.base.Engine {}
2018-04-22 18:13:17,696 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-04-22 18:13:17,702 INFO sqlalchemy.engine.base.Engine {}
2018-04-22 18:13:18,068 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-04-22 18:13:18,070 INFO sqlalchemy.engine.base.Engine {}
2018-04-22 18:13:18,268 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-04-22 18:13:18,270 INFO sqlalchemy.engine.base.Engine {}
2018-04-22 18:13:18,455 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-04-22 18:13:18,458 INFO sqlalchemy.engine.base.Engine {}
2018-04-22 18:13:18,661 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-04-22 18:13:18,665 INFO sqlalchemy.engine.base.Engine {}

In [52]:
# DataFrameをsqlに食わせる TODO うまく行かない
flight1_pd.to_sql('flights',connection,if_exists='append', index=False)

/Users/hasehiro/.pyenv/versions/3.6.5/envs/pycoon/lib/python3.6/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [ ]:
%pd