# Chapter 2. Ingesting Data into the Cloud

In [15]:
%%bash
# シェルスクリプトで航空機離着陸データをスクレイピングするために、zip形式でデータをダウンロード
YEAR=2017

for MONTH in `seq -w 1 2` ; do
PARAMS="UserTableName=On_Time_Performance&DBShortName=&RawDataTable=T_ONTIME&sqlstr=+SELECT+FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CCARRIER%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE+FROM++T_ONTIME+WHERE+Month+%3D${MONTH}+AND+YEAR%3D${YEAR}&varlist=FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CCARRIER%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE&grouplist=&suml=&sumRegion=&filter1=title%3D&filter2=title%3D&geo=All%A0&time=March&timename=Month&GEOGRAPHY=All&XYEAR=${YEAR}&FREQUENCY=3&VarDesc=Year&VarType=Num&VarDesc=Quarter&VarType=Num&VarDesc=Month&VarType=Num&VarDesc=DayofMonth&VarType=Num&VarDesc=DayOfWeek&VarType=Num&VarName=FL_DATE&VarDesc=FlightDate&VarType=Char&VarName=UNIQUE_CARRIER&VarDesc=UniqueCarrier&VarType=Char&VarName=AIRLINE_ID&VarDesc=AirlineID&VarType=Num&VarName=CARRIER&VarDesc=Carrier&VarType=Char&VarDesc=TailNum&VarType=Char&VarName=FL_NUM&VarDesc=FlightNum&VarType=Char&VarName=ORIGIN_AIRPORT_ID&VarDesc=OriginAirportID&VarType=Num&VarName=ORIGIN_AIRPORT_SEQ_ID&VarDesc=OriginAirportSeqID&VarType=Num&VarName=ORIGIN_CITY_MARKET_ID&VarDesc=OriginCityMarketID&VarType=Num&VarName=ORIGIN&VarDesc=Origin&VarType=Char&VarDesc=OriginCityName&VarType=Char&VarDesc=OriginState&VarType=Char&VarDesc=OriginStateFips&VarType=Char&VarDesc=OriginStateName&VarType=Char&VarDesc=OriginWac&VarType=Num&VarName=DEST_AIRPORT_ID&VarDesc=DestAirportID&VarType=Num&VarName=DEST_AIRPORT_SEQ_ID&VarDesc=DestAirportSeqID&VarType=Num&VarName=DEST_CITY_MARKET_ID&VarDesc=DestCityMarketID&VarType=Num&VarName=DEST&VarDesc=Dest&VarType=Char&VarDesc=DestCityName&VarType=Char&VarDesc=DestState&VarType=Char&VarDesc=DestStateFips&VarType=Char&VarDesc=DestStateName&VarType=Char&VarDesc=DestWac&VarType=Num&VarName=CRS_DEP_TIME&VarDesc=CRSDepTime&VarType=Char&VarName=DEP_TIME&VarDesc=DepTime&VarType=Char&VarName=DEP_DELAY&VarDesc=DepDelay&VarType=Num&VarDesc=DepDelayMinutes&VarType=Num&VarDesc=DepDel15&VarType=Num&VarDesc=DepartureDelayGroups&VarType=Num&VarDesc=DepTimeBlk&VarType=Char&VarName=TAXI_OUT&VarDesc=TaxiOut&VarType=Num&VarName=WHEELS_OFF&VarDesc=WheelsOff&VarType=Char&VarName=WHEELS_ON&VarDesc=WheelsOn&VarType=Char&VarName=TAXI_IN&VarDesc=TaxiIn&VarType=Num&VarName=CRS_ARR_TIME&VarDesc=CRSArrTime&VarType=Char&VarName=ARR_TIME&VarDesc=ArrTime&VarType=Char&VarName=ARR_DELAY&VarDesc=ArrDelay&VarType=Num&VarDesc=ArrDelayMinutes&VarType=Num&VarDesc=ArrDel15&VarType=Num&VarDesc=ArrivalDelayGroups&VarType=Num&VarDesc=ArrTimeBlk&VarType=Char&VarName=CANCELLED&VarDesc=Cancelled&VarType=Num&VarName=CANCELLATION_CODE&VarDesc=CancellationCode&VarType=Char&VarName=DIVERTED&VarDesc=Diverted&VarType=Num&VarDesc=CRSElapsedTime&VarType=Num&VarDesc=ActualElapsedTime&VarType=Num&VarDesc=AirTime&VarType=Num&VarDesc=Flights&VarType=Num&VarName=DISTANCE&VarDesc=Distance&VarType=Num&VarDesc=DistanceGroup&VarType=Num&VarDesc=CarrierDelay&VarType=Num&VarDesc=WeatherDelay&VarType=Num&VarDesc=NASDelay&VarType=Num&VarDesc=SecurityDelay&VarType=Num&VarDesc=LateAircraftDelay&VarType=Num&VarDesc=FirstDepTime&VarType=Char&VarDesc=TotalAddGTime&VarType=Num&VarDesc=LongestAddGTime&VarType=Num&VarDesc=DivAirportLandings&VarType=Num&VarDesc=DivReachedDest&VarType=Num&VarDesc=DivActualElapsedTime&VarType=Num&VarDesc=DivArrDelay&VarType=Num&VarDesc=DivDistance&VarType=Num&VarDesc=Div1Airport&VarType=Char&VarDesc=Div1AirportID&VarType=Num&VarDesc=Div1AirportSeqID&VarType=Num&VarDesc=Div1WheelsOn&VarType=Char&VarDesc=Div1TotalGTime&VarType=Num&VarDesc=Div1LongestGTime&VarType=Num&VarDesc=Div1WheelsOff&VarType=Char&VarDesc=Div1TailNum&VarType=Char&VarDesc=Div2Airport&VarType=Char&VarDesc=Div2AirportID&VarType=Num&VarDesc=Div2AirportSeqID&VarType=Num&VarDesc=Div2WheelsOn&VarType=Char&VarDesc=Div2TotalGTime&VarType=Num&VarDesc=Div2LongestGTime&VarType=Num&VarDesc=Div2WheelsOff&VarType=Char&VarDesc=Div2TailNum&VarType=Char&VarDesc=Div3Airport&VarType=Char&VarDesc=Div3AirportID&VarType=Num&VarDesc=Div3AirportSeqID&VarType=Num&VarDesc=Div3WheelsOn&VarType=Char&VarDesc=Div3TotalGTime&VarType=Num&VarDesc=Div3LongestGTime&VarType=Num&VarDesc=Div3WheelsOff&VarType=Char&VarDesc=Div3TailNum&VarType=Char&VarDesc=Div4Airport&VarType=Char&VarDesc=Div4AirportID&VarType=Num&VarDesc=Div4AirportSeqID&VarType=Num&VarDesc=Div4WheelsOn&VarType=Char&VarDesc=Div4TotalGTime&VarType=Num&VarDesc=Div4LongestGTime&VarType=Num&VarDesc=Div4WheelsOff&VarType=Char&VarDesc=Div4TailNum&VarType=Char&VarDesc=Div5Airport&VarType=Char&VarDesc=Div5AirportID&VarType=Num&VarDesc=Div5AirportSeqID&VarType=Num&VarDesc=Div5WheelsOn&VarType=Char&VarDesc=Div5TotalGTime&VarType=Num&VarDesc=Div5LongestGTime&VarType=Num&VarDesc=Div5WheelsOff&VarType=Char&VarDesc=Div5TailNum&VarType=Char"
echo Month is $MONTH

RESPONSE=$(curl -X POST --data "$PARAMS" https://www.transtats.bts.gov/DownLoad_Table.asp?Table_ID=236&Has_Group=3&Is_Zipped=0) 

echo "Received $RESPONSE"

# zipファイルのAPIだけtrとgrepで取得
ZIPFILE=$(echo $RESPONSE | tr '\"'  '\n' | grep zip )

echo $ZIPFILE

# -oオプションでデータを保存
curl -o $YEAR$MONTH.zip $ZIPFILE
done

Month is 1
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/447881419_T_ONTIME.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/447881419_T_ONTIME.zip
Month is 2
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/447881661_T_ONTIME.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/447881661_T_ONTIME.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5404  100   191  100  5213     13    372  0:00:14  0:00:13  0:00:01     0
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13.3M  100 13.3M    0     0   257k      0  0:00:53  0:00:53 --:--:--  283k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5404  100   191  100  5213     17    469  0:00:11  0:00:11 --:--:--     0
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12.0M  100 12.0M    0     0   280k      0  0:00:44  0:00:44 --:--:--  313k

In [16]:
! ls  . | grep zip

20171.zip
20172.zip

In [17]:
%%bash
# データの解凍
YEAR=2017
for MONTH in `seq -w 1 3` ; do
    unzip $YEAR$MONTH.zip
    mv *ONTIME.csv $MONTH.csv
    rm $YEAR$MONTH.zip
    
done

Archive:  20171.zip
  inflating: 447881419_T_ONTIME.csv
Archive:  20172.zip
  inflating: 447881661_T_ONTIME.csv

unzip:  cannot find or open 20173.zip, 20173.zip.zip or 20173.zip.ZIP.
mv: rename *ONTIME.csv to 3.csv: No such file or directory
rm: 20173.zip: No such file or directory

In [18]:
!ls . | grep csv

1.csv
2.csv

In [19]:
import pandas as pd

# 可視化
pd.read_csv('./1.csv').head()

,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,...,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE,Unnamed: 27
0,2017-01-01,B6,20409,B6,264,14747,1474703,30559,SEA,12478,...,459.0,7.0,505,506.0,1.0,0.0,NaN,0.0,2422.0,NaN
1,2017-01-01,B6,20409,B6,265,14893,1489302,33192,SMF,12954,...,2050.0,4.0,2000,2054.0,54.0,0.0,NaN,0.0,387.0,NaN
2,2017-01-01,B6,20409,B6,269,10721,1072102,30721,BOS,11697,...,843.0,6.0,903,849.0,-14.0,0.0,NaN,0.0,1237.0,NaN
3,2017-01-01,B6,20409,B6,272,11697,1169704,32467,FLL,12953,...,821.0,4.0,849,825.0,-24.0,0.0,NaN,0.0,1076.0,NaN
4,2017-01-01,B6,20409,B6,275,10529,1052904,30529,BDL,14843,...,1036.0,5.0,1107,1041.0,-26.0,0.0,NaN,0.0,1666.0,NaN

In [1]:
# サイズ感の確認
! wc -l *.csv

  450018 1.csv
  410518 2.csv
  488598 3.csv
 1349134 total

In [25]:
%%bash
# データをGCPにupload
gsutil='/Users/hasehiro/google-cloud-sdk/bin/gsutil'
$gsutil -m cp *.csv gs://csv-data-bucket/flights/

In [32]:
%%bash 
# 全体に共有できるように、誰でも読めるように権限を変更

gsutil='/Users/hasehiro/google-cloud-sdk/bin/gsutil'
# $gsutil acl -R -g google.com:R gs://csv-data-bucket/flights/

# Chapter 3. Creating Compelling Dashboards

## google-cloudライブラリを使用する

In [6]:
%env  GOOGLE_APPLICATION_CREDENTIALS=/Users/hasehiro/data-science-on-the-gcp-da1e9f12fed5.json

env: GOOGLE_APPLICATION_CREDENTIALS=/Users/hasehiro/data-science-on-the-gcp-da1e9f12fed5.json

In [57]:
import os
import google.cloud.storage as storae
# バケットの操作
storage_client=storage.Client()
bucket=storage_client.get_bucket('csv-data-bucket')
bucket.location

'ASIA'

## cloud sqlの起動

In [2]:
%%bash
# sqlインスタンスの生成
gcloud sql instances create flights --tier=db-n1-standard-1 --activation-policy=ALWAYS --project=data-science-on-the-gcp

bash: line 2: gcloud: command not found

In [7]:
# credential情報

from oauth2client.client import GoogleCredentials

credentials = GoogleCredentials.get_application_default()

In [8]:
# sqlインスタンスのAPIと対話するためのオブジェクトを生成
# 詳細　https://cloud.google.com/compute/docs/tutorials/python-guide?hl=ja
from googleapiclient import discovery

# %pdoc  discovery.build
sql=discovery.build('sqladmin', 'v1beta4', credentials=credentials)

In [68]:
# インスタンスの確認
project='data-science-on-the-gcp'
sql.instances().list(project=project).execute()

In [3]:
%%bash
# 外部から接続するためにIPを登録
# IPはCIDRに変換 https://www.softel.co.jp/labs/tools/network/
gcloud sql instances patch flights \
    --authorized-networks [IP] ---project=data-science-on-the-gcp

bash: line 3: gcloud: command not found

In [34]:
%%writefile  create_table.sql 

create database if not exists bts;
use bts;
drop table if exists flights;
create table flights (
  FL_DATE date,
  UNIQUE_CARRIER varchar(16),
  AIRLINE_ID varchar(16),
  CARRIER varchar(16),
  FL_NUM integer,
  ORIGIN_AIRPORT_ID varchar(16),
  ORIGIN_SEQ_ID varchar(16),
  ORIGIN_CITY_MARKET_ID varchar(16),
  ORIGIN varchar(16),
  DEST_AIRPORT_ID varchar(16),
  DEST_AIRPORT_SEQ_ID varchar(16),
  DEST_CITY_MARKET_ID varchar(16),
  DEST varchar(16),
  CRS_DEP_TIME integer,
  DEP_TIME integer,
  DEP_DELAY float,
  TAXI_OUT float,
  WHEELS_OFF integer,
  WHEELS_ON integer,
  TAXI_IN float,
  CRS_ARR_TIME integer,
  ARR_TIME integer,
  ARR_DELAY float,
  CANCELLED float,
  CANCELLATION_CODE varchar(16),
  DIVERTED float,
  DISTANCE float,
  INDEX (FL_DATE), INDEX (ORIGIN_AIRPORT_ID),
  INDEX(ARR_DELAY), INDEX(DEP_TIME), INDEX(DEP_DELAY)
);

Overwriting create_table.sql

In [12]:
%%bash
# 現在動いているインスタンスのエンドポイントを見つけ、dumpを流し込む
MYSQLIP=$(~/google-cloud-sdk/bin/gcloud sql instances describe \
      flights --format="value(ipAddresses.ipAddress)" --project=data-science-on-the-gcp)
mysql --host=$MYSQLIP --user=root < create_table.sql

In [53]:
%%bash
# MYSQLIP=$(~/google-cloud-sdk/bin/gcloud sql instances describe \
#       flights --format="value(ipAddresses.ipAddress)" --project=data-science-on-the-gcp)
# echo $MYSQLIP

In [20]:
import pandas as pd
flight1_pd=pd.read_csv('./1.csv')

In [31]:
flight1_pd.head()

,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,...,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE
0,2017-01-01,B6,20409,B6,264,14747,1474703,30559,SEA,12478,...,2117.0,459.0,7.0,505,506.0,1.0,0.0,NaN,0.0,2422.0
1,2017-01-01,B6,20409,B6,265,14893,1489302,33192,SMF,12954,...,1950.0,2050.0,4.0,2000,2054.0,54.0,0.0,NaN,0.0,387.0
2,2017-01-01,B6,20409,B6,269,10721,1072102,30721,BOS,11697,...,544.0,843.0,6.0,903,849.0,-14.0,0.0,NaN,0.0,1237.0
3,2017-01-01,B6,20409,B6,272,11697,1169704,32467,FLL,12953,...,606.0,821.0,4.0,849,825.0,-24.0,0.0,NaN,0.0,1076.0
4,2017-01-01,B6,20409,B6,275,10529,1052904,30529,BDL,14843,...,627.0,1036.0,5.0,1107,1041.0,-26.0,0.0,NaN,0.0,1666.0

In [30]:
flight1_pd=flight1_pd.drop('Unnamed: 27',axis=1)

In [47]:
# csvデータをsqlに食わせる
# PyMySQLを同時にいれること
import sqlalchemy as sa

url = 'mysql+pymysql://root:@35.192.232.xxx/bts?charset=utf8'
engine=sa.create_engine(url,echo=True)
connection = engine.raw_connection()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '35.192.232.xxx' ([Errno 8] nodename nor servname provided, or not known)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [57]:
# DataFrameをsqlに食わせる TODO うまく行かない
flight1_pd.to_sql('flights',connection,if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [67]:
%%bash 
# mysqlimportでデータを入れる。ファル名は[table_name].csv-xxとすること
MYSQLIP=$(~/google-cloud-sdk/bin/gcloud sql instances describe \
      flights --format="value(ipAddresses.ipAddress)" --project=data-science-on-the-gcp)

mysqlimport --local --host=$MYSQLIP --user=root --ignore-lines=1 --fields-terminated-by=',' \
bts flights.csv*

bts.flights: Records: 450017  Deleted: 0  Skipped: 0  Warnings: 3187076
bts.flights: Records: 410517  Deleted: 0  Skipped: 0  Warnings: 2899906