# Chapter 7. Data Analysis Application Examples

In [14]:
%%bash
# データの一行目のipだけを取ってきて昇順で集計する
cut -d ' ' -f 1 ./data_munging.txt | sort  | uniq -c | sort -nr | head -15

 294 sandy.rtptok1.epa.gov
 292 e659229.boeing.com
 266 wicdgserv.wic.epa.gov
 263 keyhole.es.dupont.com
 248 dwilson.pr.mcs.net
 176 oea4.r8stw56.epa.gov
 174 macip26.nacion.co.cr
 172 dcimsd23.dcimsd.epa.gov
 167 www-b1.proxy.aol.com
 158 piweba3y.prodigy.com
 152 wictrn13.dcwictrn.epa.gov
 151 nntp1.reach.com
 151 inetg1.arco.com
 149 canto04.nmsu.edu
 146 weisman.metrokc.gov

In [17]:
# 欠陥があるデータを読みこむ
!cat ./small.csv

22,6.1
41,5.7
  18,5.3*
29,NA

In [25]:
import pandas as pd
df=pd.read_csv('./small.csv',names=['age','height'])
df['height'].dtype # object

# 変換でくきるもののみ変換
df.height.convert_objects(convert_numeric=True)

/Users/hasehiro/.pyenv/versions/3.6.5/envs/pycoon/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

0    6.1
1    5.7
2    NaN
3    NaN
Name: height, dtype: float64

In [34]:
# csv読み込み時にクリーニング
remove_start=lambda s:s.replace('*','')
df_cleaned=pd.read_csv('./small.csv',names=['age','height'],converters={'height':remove_start})
df_cleaned.height=df_cleaned.height.convert_objects(convert_numeric=True)
df_cleaned.dropna()

/Users/hasehiro/.pyenv/versions/3.6.5/envs/pycoon/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

   age  height
0   22     6.1
1   41     5.7
2   18     5.3