# Chapter 6. Social Media Insight Using Naive Bayes

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
import twitter
import json 

# https://apps.twitter.com/app/13142176/show
# confidentailな情報をうっかりgitにあげないように、別ファイルに書き出し
with open('./twitter.json','r') as file: 
    token=json.load(file)
authorization = twitter.OAuth(**token)

# twitterとのI/Fのためのオブジェクト
t=twitter.Twitter(auth=authorization)

In [44]:
# 検索データをファイルにアウトプット
output_file='./python_tweets.json'

with open(output_file,'a') as file:
    search_results=t.search.tweets(q='python',count=100)['statuses']
    
    for tweet in search_results:
        if 'text' in tweet:
            # オブジェクトをjsonに変換
            file.write(json.dumps(tweet))
            file.write('\n\n')

In [47]:
pd.DataFrame(search_results).head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,None,None,Tue May 01 11:51:26 +0000 2018,"{'hashtags': [{'text': 'Databricks', 'indices'...",NaN,0,False,None,991283953179951109,991283953179951109,...,NaN,NaN,NaN,20,False,{'created_at': 'Mon Apr 30 22:35:07 +0000 2018...,"<a href=""http://twitter.com/download/android"" ...",RT @Azure: Azure #Databricks Notebooks allow l...,False,"{'id': 16372254, 'id_str': '16372254', 'name':..."
1,None,None,Tue May 01 11:51:25 +0000 2018,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,991283949002412033,991283949002412033,...,NaN,NaN,NaN,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",ㅠ로롱님이 범꼬테 그리신거 봐요 넘이쁨 (땐싱,False,"{'id': 753941053078503424, 'id_str': '75394105..."
2,None,None,Tue May 01 11:51:23 +0000 2018,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,991283941305860096,991283941305860096,...,NaN,NaN,NaN,0,False,NaN,"<a href=""https://about.twitter.com/products/tw...",pythonまわりも設定し直さなきゃか,False,"{'id': 753614565460484096, 'id_str': '75361456..."
3,None,None,Tue May 01 11:51:20 +0000 2018,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,991283929666633729,991283929666633729,...,{'created_at': 'Tue May 01 10:03:18 +0000 2018...,9.912567e+17,991256740854353920,0,False,NaN,"<a href=""https://about.twitter.com/products/tw...",今思いついたけど、\n\nli = input().split()\ns = li[0]\n...,True,"{'id': 2952301202, 'id_str': '2952301202', 'na..."
4,None,None,Tue May 01 11:51:20 +0000 2018,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,991283928655974400,991283928655974400,...,NaN,NaN,NaN,151,False,{'created_at': 'Tue May 01 06:29:44 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @binitamshah: WinPwnage : A Collection of P...,False,"{'id': 30004536, 'id_str': '30004536', 'name':..."