In [2]:
import numpy as np
import pandas as pd
import scipy as sp

from matplotlib import  pyplot as plt
import seaborn as sns

sns.set()

%matplotlib inline
%precision 3

np.random.seed(1)

## stringをdatetimeに変換

In [3]:
date_strings = np.array(['03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '23-05-2010 :01 AM', # 変換できないデータ
                         '04-09-2009 09:09 PM'])

[pd.to_datetime(date,format='%d-%m-%Y %I:%M %p',errors='coerce') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 NaT,
 Timestamp('2009-09-04 21:09:00')]

## 範囲を指定して抽出

In [9]:
df=pd.DataFrame()

df['date']=pd.date_range('1/1/2001',periods=100000,freq='H')

df['date'][(df['date']>'2002-01-01 01:00')&(df['date']<'2002-01-01 03:00')]

8762   2002-01-01 02:00:00
Name: date, dtype: datetime64[ns]

## 複数の特徴量に分解

In [16]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['hour']=df['date'].dt.hour
df['minute']=df['date'].dt.minute
df['weekday']=df['date'].dt.weekday_name

df.head()

                 date  hour  year  minute  month weekday
0 2001-01-01 00:00:00     0  2001       0      1  Monday
1 2001-01-01 01:00:00     1  2001       0      1  Monday
2 2001-01-01 02:00:00     2  2001       0      1  Monday
3 2001-01-01 03:00:00     3  2001       0      1  Monday
4 2001-01-01 04:00:00     4  2001       0      1  Monday

## 一つ前の行との差分

In [32]:
df=pd.DataFrame()

df['date']=pd.date_range('2001/1/1',periods=5,freq='D')
df['stock_price']=[1.1,2.2,3.3,4.4,5.5]

df['pre_stock_price']=df['stock_price'].shift(1)
df['lag_price']=df.stock_price-df.pre_stock_price

df

        date  stock_price  pre_stock_price  lag_price
0 2001-01-01          1.1              NaN        NaN
1 2001-01-02          2.2              1.1        1.1
2 2001-01-03          3.3              2.2        1.1
3 2001-01-04          4.4              3.3        1.1
4 2001-01-05          5.5              4.4        1.1

## 一定期間ごとの統計データを構築

In [41]:
span=2
# rollingを行うために、dateをindexに指定
df=df.set_index('date')
df.rolling(window=span).mean()

            stock_price  pre_stock_price  lag_price
date
2001-01-01          NaN              NaN        NaN
2001-01-02         1.65              NaN        NaN
2001-01-03         2.75             1.65        1.1
2001-01-04         3.85             2.75        1.1
2001-01-05         4.95             3.85        1.1